BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 88
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SortIncludes: Never
PointerAlignment: Right
SeparateDefinitionBlocks: Always
