# Virtual Environments
.venv/
venv/
ENV/
env/

# Python caches and compiled files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Pytest
.pytest_cache/

# Data artifacts & raw outputs
data_raw/
data/**/data_raw/
bpe_merges.json
